html {
    background-color: #333232;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container {
    background-color: #555555;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}

.time {
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
}